<div class="row small-12 columns">
  <ul>
    <table>
      <thead>
        Inbox
        <tr>
          <th width="400">From/To</th>
        </tr>
      </thead>
      <tbody>
        <% @received_messages.each do |m| %>
          <tr>
            <td><%=link_to "#{m.sender.full_name}", message_path(m.sender.id) %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </ul>
</div>
