<div>
  <ul>
  <table>
    <thead>
      Inbox
      <tr>
      <th width="200">From</th>
      <th width="500">Message</th>
      </tr>
    </thead>
    <tbody>
      <% @received_messages.each do |m| %>
        <tr>
          <td><%=link_to "#{m.sender.full_name}", user_path(m.sender) %></td>
          <td><%= link_to m.body, message_path(m)%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
