<div class="row">
  <div class="small-12 columns vcard">
    <% @all_messages.each do |m| %>
      <ul class="small-12 columns vcard">
      <strong><%= m.sender.full_name %></strong>
      <p><%= m.body %></p>
      </ul>
    <%end%>
  </div>
</div>
