<div class="row small-12 columns">
  <ul>
    <table>
      <thead>
        <tr>
          <th width="400">Messages</th>
        </tr>
      </thead>
      <tbody>

      <%@associated_users.each do |m| %>
        <tr>
          <td><%=link_to "#{m.full_name}", message_path(m) %></td>
        </tr>
      <%end%>

      </tbody>
    </table>
  </ul>
  <div class="row">
  <div><%= link_to "Back", :back %></div>
</div>
</div>

