<div class="small-12 columns">
  <ul>
    <table class="message-table">
      <thead>
        <tr>
          <th>Messages</th>
        </tr>
      </thead>
      <tbody>

        <%@associated_users.each do |m| %>
          <tr>
            <td><%=link_to "#{m.full_name}", message_path(m) %></td>
          </tr>
        <%end%>

      </tbody>
    </table>
  </ul>

  <div>
    <%= link_to "Back", :back %>
  </div>
</div>

