<div class="row">
  <div class="small-8 columns">
    <% @all_messages.each do |m| %>
      <div class="vcard small-12 columns">
        <strong><%= m.sender.full_name %></strong>
        <br><br>
        <%= m.body %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
  <%= link_to "reply", new%>
  </div>
</div>
