<div class="message-wrapper">
  <% @all_messages.each do |m| %>
    <div class="row">
      <div class="large-10 columns">
        <% if m.sender == current_user %>
          <div class="row">
            <div class="vcard small-8 small-offset-2 columns sent_message">
              <%= m.body %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="small-1 columns">
              <%= image_tag m.sender.photo(:thumb), class: "profile_photo_thumb" %>
            </div>
            <div class="vcard small-8 end columns recived_massage">
              <%= m.body %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row small-offset-2">
    <%= render 'new' %>
  </div>
</div>

