<div class="row">
  <div class="small-8 columns">
    <% @all_messages.each do |m| %>
        <% if m.sender == current_user %>
          <div class="vcard small-12 columns sent_message">
          <%= m.body %>
          </div>
        <% else %>
            <% if m.sender.profile_photo.present?%>
              <div>
                <%= image_tag m.sender.profile_photo_url(:thumb), class: "profile_photo_thumb" %>
              </div>
            <% end %>
          <div class="vcard small-12 columns recived_massage">
            <%= m.body %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render 'new' %>
</div>
