<div>
  <%@user.each do |u|%>
    <ul>
      <%if u.profile_photo && !u.profile_photo.empty? %>
        <li>
          <%=u.profile_photo %>
        </li>
      <%end%>
      <li>
        <%= link_to "#{u.first_name} #{u.last_name}", user_path(u) %>
      </li>

      <li>
        <%= "#{u.address} #{u.city} #{u.state} #{u.zip if u.zip}" %>
      </li>

      <%if u.about && !u.about.empty?%>
        <li>
          <%=u.about %>
        </li>
      <%end%>
    </ul>
  <%end%>
</div>
