<div class="small-12 columns">
  <div class="outer-background-block">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li><h4>How it works:</h4>
        <p>
          UberChef is a simple service that connects people with professional chefs in their city. You can find a chef to teach a cooking class in your own kitchen, or get help with a backyard clambake. If you are a professional chef it is easy book gig by browsing and bidding on events in your area.
        </p>
        <p>
          Start by creating an account. Everything you need can be found in the Menu drop-down on the bar at the top of the window. Once you have signed it you can post your event (don't forget to be detailed in your description).
        </p>
      </li>
      <li>
        <div class="landing_page_buttons">
          <p><%= link_to 'Create your event', new_event_path, class: "button expand round" %></p>
          <p><%= link_to 'Browse events', events_path, class: "button expand round" %></p>
        </div>
      </li>
    </ul>
  </div>
</div>
