
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
  <li><h4>Welcome to UberChef!<br>The quick and easy place to get help with your next party!</h4></li>

  <li><h4>How it works:</h4>
    <p>
      UberChef is a simple service that connects people with professional chefs in their city. You can find a chef to teach a cooking class in your own kitchen. If you are a professional chef it is easy book gig by browsing and bidding on events in your area.
    </p>
    <p>
      Start by creating an account. Everything you need can be found in the Menu drop-down on the bar at the top of the window. Once you have signed it you can post your event (don't forget to be detailed in your description).
    </p>
  </li>
</ul>
