<div>
  <ul>
    <table>
      <thead>
        <tr>
          <th width="400">Description</th>
          <th width="300">Location</th>
          <th width="300">Date/Time</th>
        </tr>
      </thead>
      <tbody>
        <% @event.each do |e| %>
          <% if e.start_time >= Date.today %>
            <tr>
              <td><%= link_to "#{e.title}", event_path(e) %></td>
              <td><%= "#{e.city}, #{ e.state}"%></td>
              <td><%= e.start_time.strftime("%a %B %d, %l:%M %P") %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </ul>
  <%= paginate @event %>
</div>
