/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require pickadate/default
 *= require pickadate/default.date
 *= require pickadate/default.time
 */

.event-table {
  box-shadow: 10px 5px 30px #888888;
}

.message-wrapper {
  padding: 20px;
}

 .outer-background-block {
  background: rgba(255,255,255, 0.5);
  border-radius: 6px;
  padding: 20px;
  box-shadow: 10px 5px 30px #888888;
  margin: 5px;
  overflow: auto;
}
.inner-background-block {
  border: 2px solid #C1C4C2;
  background: rgba(255,255,255, 0.3);
  border-radius: 6px;
}

.window {
  background-image: url(https://s3.amazonaws.com/uberchef-production/uberchef-assets/houndstooth.png);
  -webkit-background-image-size: cover;
  -moz-background-image-size: cover;
  -o-background-image-size: cover;
  background-image-size: cover;
  height: 100%;
  overflow: auto;
  }

#content {
  margin-top: 60px;
}

.landing-page-description {
  text-align: center
}

.landing_page_buttons {
  margin-top:  10px;
}

.sent_message {
  border-radius: 10px;
  background-color: #C3C3C3;
  padding: 12px 20px 13px 12px;
  margin-bottom: 10px;
}

.recived_massage {
  border-radius: 10px;
  background-color: #00E7F9;
  padding: 5px 20px 5px 12px;
  margin-bottom: 10px;
}
.message-table {
width: 100%;
max-width: 900px;
}
#footer {
  font-size: 12px;
}

.search-field {
  border-radius: 15px;
}

.profile_photo {
  border: 5px solid #333333;
  border-radius: 12px;
}

.profile_photo_thumb {
  max-height: 50px;
  max-width: 50px;
  border-radius: 10px;
}

.photo-upload-field {
  background-color: #FFFFFF
}
